.bundle
bundle_bin
bin
db/*.sqlite3
log/*
tmp/*
.sass-cache/
tags
*.swp
*.swo
*.sql
config/environments/development_local.rb
config/environments/production_gni_site.rb
config/docker/static-file-server/public/files/
vendor/gni_private
vendor/gni_deploy
restart.txt
config/application_local.rb
solr/multicore/**/data
solr/work/*
public/*
.vim.custom
