.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/*
.sass-cache/
database.yml
tags
*.swp
*.swo
*.sql
config/environments/development_local.rb
config/environments/production_gni_site.rb
vendor/gni_private
vendor/gni_deploy
restart.txt
config/application_local.rb
solr/multicore/**/data
solr/work/*
public/*
