=title "Data Sources"

-content_for :content_splash do
  %h2 Names Data Sources

%table#data-sources
  %tr
    %th.identifier ID
    %th Source

  - cycle = "odd"
  - @data_sources.each do |data_source|
    - cycle = (cycle == "odd") ? "even" : "odd"
    %tr{:class => cycle}
      %td.identifier= data_source.id
      - ellipsis = (data_source.title.length > 75) ? data_source.title[0..72] + "..." : data_source.title
      %td= link_to ellipsis, data_source
