<% title "API" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Application Programming Interface" %>
<%- end -%>

<h3>Base URL</h3>
<div id="base-url">
  <p><%= url_for( :controller => '/name_resolvers', :action => 'index', :format => :json, :only_path => false ) << "?" %></p>
</div>

<h3>Parameters</h3>

<h4>GET Requests</h4>

<dl>
  <dt>names</dt><dd>Pipe-separated list of scientific names<br><em>e.g.</em> &amp;data=Pardosa|Pardosa+moesta
  <dt>data_source_ids</dt><dd>Pipe-separated integers representing data sources<br><em>e.g.</em> &amp;data_sources=1|22|7</dd>
  <dt>with_context</dt><dd>Boolean, default "false"<br><em>e.g.</em> &amp;with_context=true</dd>
  <dt>callback</dt><dd>Only relevant with a JSON output<br><em>e.g.</em> &amp;callback=MyCoolCallback</p></dd>
</dl>

<h4>POST Requests</h4>

<dl>
  <dt></dt><dd></dd>
</dl>

<h3>Output Format</h3>

<dl>
  <dt>JSON (default)</dt><dd>Base URL: <%= url_for( :controller => '/name_resolvers', :action => 'index', :format => :json, :only_path => false ) << "?" %></dd>
  <dt>XML</dt><dd>Base URL: <%= url_for( :controller => '/name_resolvers', :action => 'index', :format => :xml, :only_path => false ) << "?" %></dd>
</dl>