<% title "API" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Application Programming Interface" %>
<%- end -%>

<h3>Base URL</h3>
<div id="base-url">
  <p>http://www.example.com</p>
</div>

<h3>Parameters</h3>

<dl>
  <dt></dt><dd></dd>
</dl>

<h3>Output Format</h3>

<dl>
  <dt></dt><dd></dd>
</dl>