%h1 What is Global Names Index (GNI)?

= link_to 'Back', root_url

  %p.info GNI is a collection of strings (combinations of characters) that have been used as names for organisms. GNI contains many examples of names spelled in slightly different ways.  In order to be able to link all of the information about any taxon, a query beginning with one string will find data associated with any of the alternative strings.   This is done by linking the alternative names for the same species - a process called 'reconciliation'.
  
  %p.info GNI is a component of the Global names Architecture, an effort that is building a names-based cyberinfrastructure for biology (Patterson, D. J., Cooper, J., Kirk, P. M.,Pyle, R.L. and Remsen D. P. 2010. Names are key to the big new biology. TREE  25: 686-691).

  %p.info We welcome submissions of names for inclusion in GNI.
