// Place all the styles related to the name_resolvers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outputs{position:absolute;right:2em;top:50%;}
.outputs span{background-color:#fafafa;border:1px solid #ccc;padding:5px;border-radius:6px;margin-right:5px;}
.outputs span:hover{background-color:#eee;}
.section{margin-bottom:1.5em;}
.results{margin:0.5em 0 0.5em;}

.searched-name{background-color:#e6e6e6;border-bottom:1px solid #aaa;margin-top:1em;position:relative;padding:0 5px;}
.searched-name h4{margin:0px;padding:3px 0px;width:800px;font-size:1em;font-weight:normal;}
.number-matches{position:absolute;right:5px;top:25%;font-size:0.8em;}
.source-match{padding:10px;margin-bottom:0.5em;}
.source-name-string{font-weight:bold;}
.source-current-name-string{font-weight:bold;font-size:0.9em}
.source-names-score{margin-bottom:0.5em;}
.source-title{line-height:1.5em;margin-left:10px;}
.source-classification-path{line-height:1.5em;font-size:0.8em;margin-left:10px;}
.score{font-size:0.8em;}
