<div id="Footer" class="structural fixedWidth">
  <div class="inner">
      <span><%= link_to 'Global Names Architecture', 'http://www.globalnames.org' %></span>|
      <span><%= link_to 'Global Names Recognition & Discovery', 'http://gnrd.globalnames.org' %></span>|
      <span><%= link_to 'Global Names Integrated Taxonomic Editor', 'http://gnite.org' %></span>
    </div>
  </div>
</div>